body {
    background-image: url('images/backgound1.png');
}

.btnChat {
    position:sticky;
    background-image: url('images/chatBtnPic.jpg');
    height:80px;
    width: auto;
    margin-left:auto;
}

.chatDiv{   
    border: solid;   
    border-radius:20px 20px;
    display:inline-block;
 

}
